.main-shopping-buy-category {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  height: 457px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  .main-shopping-buy-category-wrapper {
    width: 95%;
    height: 457px;
    .shopping-buy-category {
      width: 100%;
      height: 457px;
      padding-top: 16px;
      padding-bottom: 40px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      justify-content: flex-start;
      .shopping-buy-category-heading {
        width: 100%;
        height: 40px;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 36px;
        text-align: center;
        .shopping-buy-category-heading-text-h3 {
          font-size: 21px;
          font-weight: 500;
          line-height: 2.1;
        }
      }
      .shopping-buy-category-products {
        width: 100%;
        height: 500px;
        .swiper {
          width: 100%;
          height: 100%;
        }

        .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          .swiper-slide-shop-buy-category {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            flex-flow: column wrap;
            row-gap: 40px;
            .swiper-slide-shop-buy-category-cat {
              width: 132px;
              height: 160px;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-flow: row wrap;
              .swiper-slide-shop-buy-category-cat-link {
                display: block;
                width: 132px;
                height: 160px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-flow: row wrap;
                .swiper-slide-shop-buy-category-cat-link-img {
                  width: 100px;
                  height: 100px;
                  line-height: 0;
                  object-fit: cover;
                }
                .swiper-slide-shop-buy-category-cat-link-text {
                  isplay: -webkit-box;
                  -webkit-line-clamp: 2;
                  -webkit-box-orient: vertical;
                  overflow: hidden;
                  font-size: 12px;
                  font-weight: 700;
                  line-height: 2.17;
                  color: var(--color-neutral-900);
                  text-align: center;
                  margin-top: 8px;
                }
              }
            }
          }
        }

        .swiper-slide img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
