.header__top {
  width: 100%;
  height: 60px;
  background-color: var(--color-neutral-000);
  .adservice__banners__link {
    width: 100%;
    height: 60px;
    display: block;
    .adservice__banners__link__box {
      width: 100%;
      height: 60px;
      line-height: 0;
      position: relative;
      & picture {
        width: 100%;
        height: 60px;
        display: block;
        position: relative;
        .adservice__banners__link__box__img {
          width: 100%;
          height: 60px;
          object-fit: cover;
          display: inline-block;
        }
      }
    }
  }
}
