.main-amazing-supermarket {
  width: 100%;
  height: 110px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  .main-amazing-supermarket-wrapper {
    width: 96%;
    height: 110px;
    .amazing-supermarket-wrapper {
      width: 100%;
      height: 110px;
      .amazing-supermarket-wrapper-bg-link {
        width: 100%;
        height: 110px;
        min-height: 110px;
        padding-left: 40px;
        padding-right: 40px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        display: flex;
        align-items: center;
        flex-flow: row wrap;
        padding-top: 16px;
        padding-bottom: 12px;
        background-color: var(--color-neutral-100);
        border-radius: var(--large-radius);
        overflow: hidden;
        justify-content: space-between;
        position: relative;
        .amazing-supermarket-wrapper-bg-link-freshPattern {
          width: 100%;
          height: 100%;
          background: url("../../../../public/images/amazing-supermarket/freshPattern.svg")
            left center no-repeat;
          z-index: 1;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
        .amazing-supermarket-wrapper-bg-link-gradient {
          width: 100%;
          height: 100%;
          background: linear-gradient(
            267.6deg,
            rgba(var(--color-fresh-700-rgb), 0.1) 0,
            rgba(var(--color-gradient-silver-rgb), 0) 100%
          );
          opacity: 0.3;
          border-radius: var(--large-radius);
          z-index: 1;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }
        .amazing-supermarket-right {
          width: 45%;
          height: 50px;
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: flex-start;
          column-gap: 30px;
          .amazing-supermarket-right-img-01 {
            width: 66px;
            height: 62px;
            line-height: 0;

            .amazing-supermarket-right-img-01-img {
              width: 66px;
              height: 62px;
              object-fit: cover;
              display: inline-block;
            }
          }
          .amazing-supermarket-right-img-02 {
            width: 250px;
            height: 28px;
            line-height: 0;
            img {
              object-fit: cover;
              display: inline-block;
            }
          }
          .amazing-supermarket-right-badge {
            border-radius: 9999px;
            margin-left: 0;
            margin-right: 0;
            font-size: 12px;
            font-weight: 700;
            line-height: 2.17;
            text-align: center;
            padding-left: 12px;
            padding-right: 12px;
            box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            background-color: var(--color-fresh-700);
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            height: 28px;
            border: 1px solid transparent;
            .amazing-supermarket-right-badge-p {
              font-size: 14px;
              font-weight: 700;
              line-height: 2.15;
              color: var(--color-white);
              display: inline-block;
            }
          }
        }
        .amazing-supermarket-left {
          width: 45%;
          height: 50px;
          background-color: forestgreen;
          margin-top: 0;
          display: flex;
          justify-content: flex-start;
          margin-right: 16px;
          align-items: center;
          z-index: 1;
        }
      }
    }
  }
}
