@import url("./navbar/main-navbar.css");
@import url("./location/main-location.css");


.header__bottom {
  width: 100%;
  height: 40px;
  background-color: var(--color-neutral-000);
  .header__bottom__wrapper {
    width: 100%;
    height: 40px;
    background-color: var(--color-neutral-000);
    .nav__header__bottom__wrapper__navbar {
      width: 100%;
      background-color: var(--color-neutral-000);
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
      display: flex;
      transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
      transition: transform 0.3s, -webkit-transform 0.3s;
      min-height: 36px;
      .menu__nav__wrapper {
        width: 100%;
        height: 40px;
        padding-left: 16px;
        padding-right: 16px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        justify-content: space-between;
        display: flex;
        flex-flow: row wrap;
        margin: 0 auto;
        .header__bottom__navabr_nav {
          width: 85%;
          height: 100%;
          justify-content: space-between;
          display: flex;
          flex-flow: row wrap;
        }
      }
    }
  }
}
