.main-best-selling-products {
  width: 100%;
  height: 405px;
  margin-top: 50px;
  margin-bottom: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  .main-best-selling-products-center {
    width: 96%;
    height: 405px;
    .main-best-selling-products-center-wrapper {
      width: 100%;
      height: 405px;
      border: 1px solid var(--color-neutral-200);
      border-radius: var(--large-radius);
      padding-top: 16px;
      padding-bottom: 16px;
      background-color: var(--color-neutral-000);
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
      align-items: center;
      .best-selling-products-heading {
        width: 100%;
        height: 45px;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-end;
        align-items: center;
        .best-selling-products-heading-wrapper {
          width: 60%;
          height: 45px;
          display: flex;
          flex-flow: row wrap;
          justify-content: center;
          align-items: center;
          .best-selling-products-heading-wrapper-container {
            width: 100%;
            height: 45px;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            .best-selling-products-heading-text-svg {
              display: flex;
              flex-flow: row wrap;
              justify-content: center;
              align-items: center;
              svg {
                width: 24px;
                height: 24px;
                fill: var(--color-icon-warning);
                vertical-align: middle;
              }
            }
            .best-selling-products-heading-text-svg-text {
              font-size: 21px;
              font-weight: 500;
              line-height: 2.1;
              color: var(--color-neutral-900);
            }
            .best-selling-products-all-more {
              .best-selling-products-all-more-link {
                display: block;
                color: var(--color-button-secondary);
                font-size: 14px;
                font-weight: 700;
                line-height: 2.15;
                padding-left: 16px;
                border-radius: var(--global-radius);
              }
            }
          }
        }
      }
      .best-selling-products-all-prodoucts {
        width: 100%;
        height: calc(100% - 45px);
        .swiper {
          width: 100%;
          height: 100%;
        }

        .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          .swiper-slide-best-selling {
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            .swiper-slide-best-selling-wrapper {
              width: 315px;
              height: 298px;
              display: flex;
              flex-flow: column wrap;
              justify-content: center;
              align-items: center;
              .swiper-slide-best-selling-row {
                width: 100%;
                height: 99px;
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: center;
                .swiper-slide-best-selling-row-link {
                  width: 100%;
                  height: 100%;
                  display: block;
                  .swiper-slide-best-selling-row-link-box {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: flex-start;
                    align-items: center;
                    .swiper-slide-best-selling-row-link-box-img {
                      width: 86px;
                      height: 86px;
                      line-height: 0;
                      border-radius: var(--global-radius);
                      margin-left: 12px;
                      img {
                        display: inline-block;
                        object-fit: cover;
                        width: 86px;
                        height: 86px;
                      }
                    }
                    .swiper-slide-best-selling-row-link-box-number {
                      width: 7px;
                      height: 86px;
                      font-size: 26px;
                      font-weight: 800;
                      line-height: 2.1;
                      color: var(--color-secondary-500);
                      display: flex;
                      flex-flow: row wrap;
                      justify-content: center;
                      align-items: center;
                    }
                    .swiper-slide-best-selling-row-link-box-description {
                      width: 197px;
                      height: 86px;
                      display: flex;
                      flex-flow: row wrap;
                      justify-content: center;
                      align-items: center;
                      .swiper-slide-best-selling-row-link-box-description-text {
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 2.17;
                        color: var(--color-neutral-700);
                        overflow: hidden;
                        display: -webkit-box; /* chrome edge safari */
                        display: -moz-box; /* firefox */
                        -webkit-line-clamp: 3;
                        -webkit-box-orient: vertical;
                      }
                    }
                  }
                }
              }
            }
          }
        }

        .swiper-slide img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
