@import "./header-middle-login-box/main-header-middle-login-box.css";
@import "./header-middle-cart-box/main-header-middle-cart-box.css";
.header-middle-login-box-cart-box {
  width: 15%;
  height: 44px;
  .header-middle-login-box-cart-box-wrapper {
    width: 100%;
    height: 44px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
  }
}
