div.amazing__carousel {
  width: 100%;
  height: 300px;
}
div.amazing__carousel > div.amazing__carousel__wrapper {
  width: 85%;
  height: 300px;
  background: linear-gradient(225deg, #d22c4e, #ee384e 41.68%, #ef5662);
  margin: 0 auto;
  border-radius: var(--large-radius);
  display: block;
  overflow: hidden;
  padding: 20px 35px 45px 0px;
  box-sizing: border-box;
}
.active__amazing__first__slider {
  width: 100%;
  padding: 16px 14px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(225deg, #d22c4e, #ee384e 41.68%, #ef5662);
  flex-flow: column wrap;
}
.active__amazing__first__slider a {
  align-items: center;
  flex-direction: column;
  width: auto;
  row-gap: 2px !important;
  justify-content: space-between;
  display: flex;
}
.active__amazing__first__slider a div:nth-of-type(1) {
  width: 100%;
  height: 100%;
}
.active__amazing__first__slider a div:nth-of-type(2) {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  align-items: center;
  gap: 4px;
}
.active__amazing__first__slider a div:nth-of-type(2) div {
  background-color: var(--color-white);
  border-radius: var(--small-radius);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 26px;
  height: 26px;
  display: flex;
  font-size: 15px;
  font-weight: 700;
  line-height: 2.15;
  color: var(--color-neutral-800);
}
.active__amazing__first__slider a div:nth-of-type(2) div:nth-of-type(even) {
  all: unset;
  font-size: 15px;
  font-weight: 700;
  line-height: 2.15;
  color: var(--color-white);
  width: 4px;
}
.active__amazing__first__slider a div:nth-of-type(4) {
  display: flex;
}
.active__amazing__first__slider a div:nth-of-type(4) div:nth-of-type(1) {
  display: flex;
  color: var(--color-white);
  justify-content: center;
  align-items: center;
  font-size: 10px;
  font-weight: 700;
  line-height: 2.17;
}
.active__amazing__first__slider a div:nth-of-type(4) div:nth-of-type(2) svg {
  width: 18px;
  height: 18px;
  fill: var(--color-icon-white);
}
.amazing {
}
.amazing a {
  width: 160px;
  min-width: 160px;
  max-width: 160px;
  padding-left: 8px;
  padding-right: 8px;
  height: 100% !important;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: var(--color-neutral-000);
  cursor: pointer;
}
.amazing a article div.product__card {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  row-gap: 25px;
}
.amazing a article div.product__card div.product__card__image {
  width: 132px;
  height: 132px;
  line-height: 0;
}
.amazing a article div.product__card div.product__card__image div {
  width: 132px;
  height: 132px;
}
.amazing a article div.product__card div.product__card__image div img {
  width: 132px;
  height: 132px;
  object-fit: cover;
}
.amazing a article div.product__card div.product__card__price__name {
}
.amazing a article div.product__card div.product__card__price__name h3 {
  font-size: 12px;
  font-weight: 400;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: var(--color-neutral-600);
  line-height: 20px !important;
  height: 40px;
}
.amazing a article div.product__card div.product__card__price__off {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.amazing
  a
  article
  div.product__card
  div.product__card__price__off
  div.price__price__prdouct {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.amazing
  a
  article
  div.product__card
  div.product__card__price__off
  div.price__price__prdouct
  span.price__discount__percent {
  font-size: 12px;
  font-weight: 700;
  line-height: 2.17;
  color: var(--color-white);
  padding-left: 4px;
  padding-right: 4px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background-color: var(--color-hint-object-error);
  border-radius: var(--large-radius);
  justify-content: center;
  align-items: center;
  display: flex;
  height: 20px;
  width: 34px;
}
.amazing
  a
  article
  div.product__card
  div.product__card__price__off
  div.price__price__prdouct
  div:nth-of-type(2) {
  width: 100%;
  display: flex;
  column-gap: 4px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-neutral-700);
}
div.price__no__discount {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  padding-left: 23px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
div.price__no__discount div {
  font-size: 12px;
  font-weight: 400;
  text-decoration-line: line-through;
  color: var(--color-neutral-300);
  margin-right: 73px;
}
