.footer-row-first {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-user-select: none;
  user-select: none;
  .footer-row-first-logo {
    width: 195px;
    height: 30px;
    line-height: 0;
    margin-left: 16px;
    img {
      width: 195px;
      height: 30px;
      object-fit: cover;
      display: inline-block;
    }
  }
  .footer-row-first-go-to-top {
    .footer-row-first-go-to-top-link {
      border: 1px solid var(--color-neutral-200);
      display: flex;
      background-color: transparent;
      color: var(--color-button-black);
      padding: calc(2 * var(--spacing-base)) calc(4 * var(--spacing-base));
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      font-size: 12px;
      font-weight: 700;
      line-height: 2.17;
      border-radius: var(--global-radius);
      justify-content: center;
      align-items: center;
      cursor: pointer;
      position: relative;
      height: 40px;
      width: 138px;
      .footer-row-first-go-to-top-link-text {
        color: var(--color-neutral-400);
        margin-left: 8px;
      }
      .footer-row-first-go-to-top-link-svg {
        svg {
          width: 24px;
          height: 24px;
          fill: var(--color-icon-low-emphasis);
          vertical-align: middle;
        }
      }
    }
  }
}
