.main-best-selling-products {
  width: 100%;
  height: 405px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  .best-selling-products {
    width: 86%;
    height: inherit;
    .best-selling-products-wrapper {
      width: 100%;
      height: inherit;
      border: 1px solid var(--color-neutral-200);
      border-radius: var(--large-radius);
      padding-top: 16px;
      padding-bottom: 16px;
      box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      background-color: var(--color-neutral-000);
      justify-content: flex-start;
      flex-direction: column;
      display: flex;
      .best-selling-products-heading {
        width: 100%;
        height: 44px;
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        position: relative;
        .best-selling-products-heading-text {
          width: 90%;
          height: 44px;
          .best-selling-products-heading-text-wrapper {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            .best-selling-products-svg {
              display: flex;
              margin-left: 8px;
              svg {
                width: 24px;
                height: 24px;
                fill: var(--color-icon-warning);
                vertical-align: middle;
              }
            }
            .best-selling-products-text {
              font-size: 21px;
              font-weight: 500;
              line-height: 2.1;
              font-family: var(--font-family);
              color: var(--color-neutral-900);
            }
          }
        }
        .best-selling-products-heading-more {
          width: 10%;
          height: 44px;
          .best-selling-products-heading-more-wrapper {
            width: 100%;
            height: 44px;
            .best-selling-products-heading-more-link {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: flex-end;
              position: relative;
              .best-selling-products-heading-more-link-box {
                color: var(--color-button-secondary);
                position: absolute;
                font-size: 14px;
                font-weight: 500;
                line-height: 44px;
                padding-left: 16px;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                align-items: center;
                border-radius: var(--global-radius);
                display: flex;
                flex-shrink: 0;
                top: 0;
                left: 0;
                cursor: pointer;
                border: none;
                background: none;
                outline: none;
                overflow: hidden;
                transition: top 0.3s ease-in-out;
                .best-selling-products-heading-more-link-box-text {
                  position: relative;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                }
              }
            }
          }
        }
      }
      .best-selling-products-products {
        width: 100%;
        height: 298px;
        margin-top: 28px;
        padding-left: 8px;
        padding-right: 8px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        .swiper {
          width: 100%;
          height: 100%;
        }

        .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          .swiper-slide-best-selling {
            width: 100%;
            height: 100%;
            .swiper-slide-best-selling-link {
              width: 100%;
              height: 86px;
              display: flex;
              min-width: unset;
              flex-flow: column nowrap;
              margin-bottom: 10px;
              margin-top: 10px;
              justify-content: center;
              align-items: center;
              .swiper-slide-best-selling-link-box {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                .best-selling-link-box-image {
                  width: 86px;
                  height: 86px;
                  line-height: 0;
                  border-radius: var(--global-radius);
                  flex-shrink: 0;
                  margin-left: 12px;
                  display: flex;
                  img {
                    width: 86px;
                    height: 86px;
                    display: inline-block;
                    object-fit: cover;
                  }
                }
                .best-selling-link-box-number {
                  font-weight: 800;
                  line-height: 2.1;
                  color: var(--color-secondary-500);
                  font-size: 26px;
                  display: flex;
                  align-items: center;
                  margin-left: 12px;
                }
                .best-selling-product-item-description {
                  display: flex;
                  align-items: center;
                  flex-grow: 1;
                  position: relative;
                  justify-content: center;
                  &::before {
                    background-color: var(--color-neutral-100);
                    bottom: -30px;
                    content: "";
                    display: block;
                    height: 1px;
                    left: 0;
                    position: absolute;
                    width: 100%;
                  }
                  .best-selling-product-item-description-text {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 2.17;
                    color: var(--color-neutral-700);
                    position: relative;
                  }
                }
              }
            }
          }
        }

        .swiper-slide img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
