.header-middle-logo-box {
  width: 195px;
  height: 30px;
  background-color: var(--color-neutral-000);
  display: flex;
  justify-content: center;
  align-items: center;
  .header-middle-logo-box-wrapper {
    width: 195px;
    height: 30px;
    background-color: var(--color-neutral-000);
    display: flex;
    justify-content: center;
    align-items: center;
    .header-middle-logo-box-link {
      width: 195px;
      height: 30px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .header-middle-logo-box-link-box {
        width: 195px;
        height: 30px;
        line-height: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        img {
          width: 195px;
          height: 30px;
          line-height: 0;
          border-radius: 0px;
          object-fit: cover;
          display: inline-block;
        }
      }
    }
  }
}
